<!DOCTYPE html>
<% provide(:title,'About')%>
<html>
	<h1>About</h1>
		<p>
			Ravin Thambapillai's website is mainly intended for learning about cool stuff, such as lagrangians, the Marshall Lerner conditions, and Neoliberal institutionalism (its a great theory).
		</p>
</html>