<!DOCTYPE html>
<%provide(:title,'Contact')%>
<h1>Contact</h1>
	<p>
	This is the contact page. You can contact me at <a href="mailto:ravin.thambapillai@gmail.com">Ravin.Thambapillai@thambapillai.com</a>
	</p>