<div class="center hero-unit">
	<h1>Ravin Thambapillai</h1>
	<h2>
		This is the home page of Ravin Thambapillai. Thanks for visiting.
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large brn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt:"Rails"), "http://rubyonrails.org" %>